@model Employee

<div class="container">
    <form method="post">
        <div class="row pb-2">
            <h2 class="row pb-2">Adds Employee</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-2 pt-2 text-black"><label>Employee Name : </label></div>
            <div class="col-6 pb-2"><input asp-for="Name" class="form-control text-black" /></div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-2 pt-2 text-black"><label>Email : </label></div>
            <div class="col-6 pb-2"><input asp-for="Email" class="form-control text-black" /></div>
        </div>
        <div class="row">
            <div class="col-2 pt-2 text-black"><label>Employee Department : </label></div>
            <div class="form-group col-6 pb-2"><select asp-for="DeptId" class="form-control" asp-items="ViewBag.DeptName"></select></div>
            @*             <div class="col-2 pt-2 text-black"><label>Employee Department : </label></div>
            <div class="col-6 pb-2"><input asp-for="EmployeeDepartment" class="form-control text-black" /></div>
            *@
        </div>              
        
        <button type="submit" class="btn btn-primary" style="width:250px">Add Employee</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>